.maps-table,
.maps-table.modal {
    width: 100%;
    border-collapse: collapse;
}

.maps-table.modal th,
.maps-table.modal td,
.maps-table th,
.maps-table td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #333;
}

.maps-table td:first-child,
.maps-table th:first-child {
    white-space: nowrap;
    width: 15rem;
    max-width: 200px;
}

.maps-table td:nth-child(3),
.maps-table th:nth-child(3) {
    justify-content: end;
}

.maps-table.modal td:first-child,
.maps-table.modal th:first-child {
    white-space: nowrap;
    max-width: 30px;
}

.maps-table.modal td:nth-child(2),
.maps-table.modal th:nth-child(2) {
    white-space: nowrap;
    width: 15rem;
    max-width: 200px;
}

.maps-table.modal td:last-child,
.maps-table.modal th:last-child {
    justify-content: end;
}

.action-button:hover {
    filter: brightness(0.9);
    transition: filter 0.2s ease;
}

.action-button.delete {
    background-color: #ff6464;
    color: white;
}

.action-button.edit {
    background-color: #f4c542;
    color: black;
}

.action-button.group {
    background-color: #3ba55d;
    color: white;
}

.action-button.rename {
    background-color: #3a6ea5;
    color: white;
}
